.food {
    display: flex;
    justify-content: space-between;
    margin: 1rem;
    padding-bottom: 1rem;
    border-bottom: 1px solid #ccc;
  }
  
  .food h3 {
    margin: 0 0 0.25rem 0;
  }
  
  .description {
    display: flex;
    font-style: italic;
    font-size: 1em;
    width: 200px;
    max-height:50px;
  }
  
  .price {
    text-align: center;
    margin-top: 0.45rem;
    padding-bottom: 15px;
    font-weight: bold;
    color: #ad5502;
    font-size: 1.25rem;
  }

  .button{
    text-align: center;;
  }

  .pic{
    padding-bottom: 10px;
    text-align: center;
  }
